<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/refactor/layout/defaultLayout">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <th:block layout:fragment="css">
      <link rel="stylesheet" href="/css/item_enroll.css?after">
  </th:block>
</head>
<body>
  <th:block layout:fragment="content">
      <div id="under_nav" class="page-add cart-page-add">
          <div class="container">
              <form enctype="multipart/form-data" method="post">
                  <h3>상품 등록</h3>
                  <table>
                      <tr>
                          <th>
                              <label for="itemName">상품명</label>
                          </th>
                          <td>
                              <input type="text" id="itemName" name="itemName" required>
                          </td>
                      </tr>
                      <tr>
                          <th>
                              <label for="itemDescription">상품 설명</label>
                          </th>
                          <td>
                              <textarea type="text" id="itemDescription" name="itemDescription" required></textarea>
                          </td>
                      </tr>
                      <tr>
                          <th>
                              <label for="price">가격</label>
                          </th>
                          <td>
                              <input type="number" id="price" name="price" required>
                          </td>
                      </tr>
                      <tr>
                          <th>
                              <label for="mainImage">메인 이미지 파일 첨부</label>
                          </th>
                          <td>
                              <input type="file" id="mainImage" name="mainImage" required>
                          </td>
                      </tr>
                      <tr>
                          <th>
                              <label for="contentImageFiles">내용 이미지 파일 첨부</label>
                          </th>
                          <td>
                              <input type="file" multiple="multiple" id="contentImageFiles" name="contentImageFiles" required>
                          </td>
                      </tr>
                      <tr>
                          <td colspan="2" style="text-align: center">
                              <p>파일 첨부 용량은 최대 10MB입니다</p>
                              <button type="submit" class="btn btn-outline-dark">상품 등록</button>
                          </td>
                      </tr>
                  </table>
              </form>
          </div>
      </div>
      <script type="text/javascript" src="/js/fileVolume.js"></script>
  </th:block>
</body>
</html>