@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Serif+KR&display=swap');

body{
    font-family:'Black Han Sans',sans-serif;
    font-family:'Noto Serif KR',serif;
}

input{border: none;}
input:focus { outline: none; }
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s; -webkit-text-fill-color: #fff !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.pageName{margin-top: 30px;}

.orderStatus{
    color:grey;
}

.itemName{
    font-weight:bold;
}
.regDate{
    font-size:13px;
}
.container{
    margin-bottom:50px;
}


#empty{
    display: flex;
    align-items: center;
    margin-top:50px;
    margin-bottom:50px;
    border:1px solid grey;
    border-radius: 30px;
    height:400px;
}
#empty h4{ width: 100%;padding: 20px 0px;text-align: center;color:gray;}