@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Serif+KR&display=swap');

#pageMarker {padding:5px; margin-top:20px; margin-bottom:5px; height:50px; /*border-bottom: solid gray 0.5px;*/ }
#page_list{text-align:center;}
#page_list li{ list-style: none; padding: 6px; display:inline-block;}
#pageMarker .active{ border-bottom: black 2px solid ;}
body{
    font-family:'Black Han Sans',sans-serif;
    font-family:'Noto Serif KR',serif;
}
