<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <section th:fragment="relativeItemFragment" class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
      <h2 class="fw-bolder mb-4">New products</h2>

      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <div class="col mb-5" th:each="newitem:${newItems}">
          <div class="card h-100" >
            <!-- Product image-->
            <img class="card-img-top" th:src="|/images/${newitem.getStoreMainImageFileName()}|" alt="상품사진" />
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder" th:text="${newitem.getItemName()}"></h5>
                <!-- Product price-->
                <input style="border: none; width:150px; font-size:18px; text-align:center;" class="comma" th:value="|${newitem.getPrice()} 원|" readonly>
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center">
                <a class="btn btn-outline-dark mt-auto"
                   th:onclick="|location.href='@{/items/1/{getItemId}(getItemId=${newitem.getItemId()})}'|">
                  Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>