<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/refactor/layout/defaultLayout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/accountStyle.css?after">
    </th:block>
</head>
<body>
<th:block layout:fragment="content">
<form class="under_nav" action="" th:action th:object="${member}" method="post">

        <div th:if="${message}!=null" th:class="home_section">
            <p th:class="field-error" th:text="${message}"></p>
            <div th:class="btn_area">
                <button type="button" th:onclick="|location.href='@{/create_account}'|">계좌 생성하기</button>
                <button type="button" th:onclick="|location.href='@{/}'|">홈으로</button>
           </div>
        </div>
        <div th:if="${message}==null" class="account_section">
                <h1>계좌 정보 확인</h1>
                <input type="text" th:field="*{memberId}" hidden>
                <div class="account_area">
                    <label for="accountId">계좌번호</label>
                    <input type="text" id="accountId" th:field="*{accountId}" readonly>
                </div>
                <div class="account_area">
                    <label for="accountPw">비밀번호</label>
                    <input class="input-number-password" type="number" id="accountPw" name="accountPw" th:errorclass="field-error" required>
                    <div class="field-error" th:errors="*{accountPw}"></div>
                </div>
                <div th:if="${#fields.hasGlobalErrors()}">
                    <p class="field-error" th:each="err:${#fields.globalErrors()}" th:text="${err}"></p>
                </div>
            <button type="button" th:onclick="|location.href='@{/}'|">홈으로</button>
            <button type="submit">현재 잔액 확인</button>
        </div>
    </form>
</th:block>
</body>
</html>